
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Template Driven Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="#" id="main-form" (ngSubmit)="submit()">

        <div class="input-nome">
          <mat-form-field appearance="fill" >
            <mat-label>Nome</mat-label>
              <input
                type="text"
                matInput
                placeholder="nome"
                [(ngModel)]="usuario.nome"
                name="nome"
                required minlength="1"
                required maxlength="50"
                #inpNome="ngModel"
              >
              <mat-error>
                <span *ngIf="inpNome.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpNome.errors?.['minlength']">Você digitou menos de 1 caráctere.</span>
                <span *ngIf="inpNome.errors?.['maxlength']">Você digitou mais de 50 carácteres.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-sobrenome inp">
          <mat-form-field appearance="fill" >
            <mat-label>Sobrenome</mat-label>
              <input
                type="text"
                matInput
                placeholder="Sobrenome"
                [(ngModel)]="usuario.sobrenome"
                name="sobrenome"
                required minlength="1"
                required maxlength="50"
                #inpSobrenome="ngModel"
              >
              <mat-error>
                <span *ngIf="inpSobrenome.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpSobrenome.errors?.['minlength']">Você digitou menos de 1 caráctere.</span>
                <span *ngIf="inpSobrenome.errors?.['maxlength']">Você digitou mais de 50 carácteres.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-username inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Username</mat-label>
              <input
                type="text"
                matInput
                placeholder="De 8 a 20 carácteres"
                [(ngModel)]="usuario.username"
                name="username"
                required minlength="8"
                required maxlength="20"
                #inpUsername="ngModel"
              >
              <mat-error>
                <span *ngIf="inpUsername.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpUsername.errors?.['minlength']">Você digitou menos de 8 caráctere.</span>
                <span *ngIf="inpUsername.errors?.['maxlength']">Você digitou mais de 20 carácteres.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-cpf inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>CPF</mat-label>
              <input
                type="number"
                matInput
                placeholder="Somente Números"
                [(ngModel)]="usuario.cpf"
                name="cpf"
                required minlength="11"
                #inpCpf="ngModel"
              >
              <mat-error>
                <span *ngIf="inpCpf.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpCpf.errors?.['minlength']">Você digitou menos de 11 caráctere.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-telefone inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Telefone</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Digite apenas os números com o ddd"
                [(ngModel)]="usuario.telefone"
                name="telefone"
                required minlength="10"
                required maxlength="15"
                #inpTel="ngModel"
              >
              <mat-error>
                <span *ngIf="inpTel.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpTel.errors?.['minlength']">Você digitou menos de 10 caráctere.</span>
                <span *ngIf="inpTel.errors?.['maxlength']">Você digitou menos de 15 caráctere.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-endereco inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Endereço</mat-label>
              <input
                type="text"
                matInput
                placeholder="Digite seu Endereço"
                [(ngModel)]="usuario.endereco"
                name="endereco"
                required maxlength="150"
                #inpEnde="ngModel"
              >
              <mat-error>
                <span *ngIf="inpEnde.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpEnde.errors?.['maxlength']">Você digitou mais de 150 caráctere.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-complemento inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Complemento</mat-label>
              <input
                type="text"
                matInput
                placeholder="Complemento"
                [(ngModel)]="usuario.complemento"
                name="complemento"
                required maxlength="150"
                #inpComp="ngModel"
              >
              <mat-error>
                <span *ngIf="inpComp.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpComp.errors?.['maxlength']">Você digitou mais de 150 caráctere.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-senha inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Senha</mat-label>
              <input
                type="password"
                matInput
                placeholder="Digite uma senha de 8 a 30 carácteres"
                [(ngModel)]="usuario.senha"
                name="senha"
                required minlength="8"
                required maxlength="30"
                #inpSenha="ngModel"
              >
            <mat-error>
              <span *ngIf="inpSenha.errors?.['required']">Preencha este campo.</span>
              <span *ngIf="inpSenha.errors?.['minlength']">Você digitou menos de 8 carácteres.</span>
              <span *ngIf="inpSenha.errors?.['maxlength']">Você digitou mais de 30 carácteres.</span>
              <span *ngIf="inpSenha.value != inpSenhaConfirm.value">As senhas devem ser iguais.</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-senhaConfirma inp">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Confirmação da Senha</mat-label>
              <input
                type="password"
                matInput
                placeholder="Confirme sua senha"
                [(ngModel)]="usuario.senhaConfirma"
                name="senha"
                required minlength="8"
                required maxlength="30"
                #inpSenhaConfirm="ngModel"
              >
              <mat-error>
                <span *ngIf="inpSenhaConfirm.errors?.['required']">Preencha este campo.</span>
                <span *ngIf="inpSenhaConfirm.errors?.['minlength']">Você digitou menos de 8 carácteres.</span>
                <span *ngIf="inpSenhaConfirm.errors?.['maxlength']">Você digitou mais de 30 carácteres.</span>
                <span *ngIf="inpSenha.value != inpSenhaConfirm.value">As senhas devem ser iguais.</span>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row col">
          <button
          mat-raised-button
          (click)="showDialog()"
          type="submit"
          color="primary"
          class="grow"
          [disabled]="inpNome.invalid || inpSobrenome.invalid || inpUsername.invalid ||
          inpCpf.invalid || inpEnde.invalid || inpComp.invalid || inpTel.invalid ||
          inpSenha.invalid || inpSenhaConfirm.invalid || inpSenha.value !=
          inpSenhaConfirm.value"
          >
          Cadastrar
        </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
